* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar {
    height: 68px;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    top: 0;
}

.logo-box {
    width: 432px;
    background-color: white;
}

.nav-logo {
    width: 130px;
    height: 68px;
    margin-top: 18px;

}

.logo {
    background-image: url("logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 130px;
    height: 68px;

}

.navbar-links {
    width: 623px;
    background-color: white;
    color: #666666;
    justify-content: space-evenly;
    align-items: center;
}

div {
    display: flex;
}


/* content */

.img-one {
    width: 794px;
    height: 334px;
    margin-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.one {
    text-align: center;
    font: 44px inter, serif;
}

.two {
    font: 20px Inter, serif;
    margin: 10px 0px 20px;
    text-align: center;
}

.contentbox-one {
    margin-bottom: 75px;
    display: block;
}

.sign {
    justify-content: space-evenly;
}

.sign-up {
    width: 174px;
    height: 44.5px;
    color: #ffffff;
    background-color: #387Ed1;
    font: 20px inter, serif;
    align-items: center;
    justify-content: space-evenly;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    */
    margin-top: 25px;
}

.sign-up:hover {
    background-color: black;
}

.contentbox-two {
    height: 354px;
    padding: 100px 20px 120px;
    justify-content: space-evenly;
}

.img-two {
    width: 432px;
    height: 310.65px;

}

.column {
    width: 528px;
    height: 334px;
    font: 17px inter, serif;
    display: block;


}

.points {
    display: flex;

}

.first {
    padding-left: 20px;
    margin-right: 150px;
    margin: 20px 0px;
}

.second {
    margin: 20px 0px;


}

.ch1 {
    margin-bottom: 15px;
}

.cp {
    margin: 10px 0px;
}

li {
    margin-bottom: 5px;
}

.press-logo {
    width: 528px;
    height: 30px;
    margin-top: 10px;
}

.contentbox-three {

    height: 657px;
    padding: 0px 20px 120px;
    font: 18px inter, serif;
    justify-content: space-evenly;
}

.first-div {
    height: 657px;
    width: 433px;
    display: block;
}

p {
    line-height: 1.8;
}

.img-three {
    width: 623px;
    height: 657px;
    display: block;
}

.img3-a {
    text-decoration: none;
    color: #387ED1;
    margin-left: 20px;
    font: 18px inter, serif;
}

.img3-a:hover {
    color: #424242
}

.links {
    width: 623px;
    height: 29px;
    margin: 16px 0px 15px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}


.contentbox-four {
    height: 190px;
    padding: 0px 20px 120px;
    font: 18px inter, serif;
    justify-content: space-evenly;

}

.pricing {
    display: block;
    width: 432.5px;
    height: 185px;
}
.box4-h1{
    margin-bottom:40px ;
}
.price-p {
    margin-bottom: 20px;
    line-height: 20px;
}

.box {
    width: 254px;
    height: 190px;
    padding: 0px 25px;
    display: block;   
    border: 1px solid black;
}

.box-h1 {
    font: 2.75rem;
    text-align: center;
    margin:40px 0px;
}

.box-four {
    text-decoration: none;
    color: #387ED1;
    font: 18px inter, serif;

}

.box-four:hover {
    color: #424242;
}

.contentbox-five{
    height: 325px;
    font: 17px inter,serif;
    padding:0px 20px 100px;
    justify-content: space-evenly;
}
.education{
    width: 528px;
    height: 290px;
    display: block;
}

.contentbox-six{
    height: 177px;
    padding: 40px 0px 80px;
    display: block;
    text-align: center;
}
.footer{
    height: 807px;
    width: 100%;
    font: 17px inter,serif;
    padding: 30px 0px 5px;
    background-color: #FBFBFB;
    display: block;
    align-items: center;    
}
.upper-box{
    height: 334px;
    width: 100%;
    justify-content: space-evenly;
}
.first-box{
    width: 242px;
    display: block;
}
.icons{
    gap: 20px;
    font-size: 20px;
}
.second-box{
    display: block;
}
.third-box{
    display: block;
}
.forth-box{
    display: block;
}
.lower-box{
    height: 350px;
    width: 1400px;
    color: #9B9B9B;
    margin: 20px 40px 0px;
    display: block;
    font: 15px inter,serif; 
    border: border-box;
    
}
